*, *::after, *::before {
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #e3e9e5;
    color: #e3e9e5;
}
h1{
    color: #057389;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 250px;
    height: 300px;
    background-color: #057389;
    border: 3px solid #d29681;
    border-radius: 5px;
    margin: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    letter-spacing: 0.2rem;
}
.idNum{
    font-size: 1.5rem;
    align-self: flex-start;
    justify-self: flex-start;
}
.bookTitle{
    font-family: 'Anton';
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.bookAuthor{
    font-size: 1.5rem;
}
.bookPages{
    margin: 3px;
}
.buttonRead{
    font-size: 1rem;
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 5px;
}
.buttonUnread{
    font-size: 1rem;
    background-color: lightpink;
    border: 2px solid red;
    border-radius: 5px;
}
.books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topBanner{
    width: 100%;
    padding: 5px 14px;
    display: flex;
    justify-content: space-between;
}
.deleteBtn{
    background-color: inherit;
    border:none;
    border-radius: 5px;
    font-weight: 700;
}
.deleteBtn:hover{
    cursor: pointer;
}
#form{
    /* right: 50%; */
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    background-color: #e3e9e5;
    z-index: 1;
    border-radius: 30px;
    border: 5px solid #d29681;
    box-shadow: 0px 0px 45px -15px rgb(99, 97, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 3rem;
    transition: all 0.2s;
}
#form input{
    width: 75%;
    font-size: 2rem;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
#form label{
    font-size: 1.5rem;
    color:black;
}
#form button{
    width: 75%;
    font-size: 2rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: #f7c73f;
    border: 2px solid black;
}
#form button:first-of-type{
    margin-bottom: 10px;
}
#read{
    height: 24px;
    margin-bottom: 20px;
}
#addBookBtn{
    width: 280px;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 50px;
    background: #f7c73f;
}
.hidden{
    visibility: hidden;
    height: 0;
    width: 0;
    transform: scale(0);
}
.visible{
    visibility: visible;
    height: 475px;
    width: 567px;
    transform: scale(1);
}
